:root{
    --fuente_principal: 'Open Sans', sans-serif;
    --fuente-secundaria: 'PT Sans', sans-serif;
    --blanco:#fff;
    --negro:#000;
    --marron:#784D3C;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:after,
*:before{
    box-sizing: inherit;
}

img{
    max-width: 100%;
}

body{
    font-size: 1.6rem;
    font-family: var(--fuente_principal);
}

.contenedor{
    width: 1000px;
    margin:0 auto;
    max-width: 90%;
    padding:3rem 0;
}

a{
    text-decoration:none;
    color: none;
}

h1,h2,h3,h4{
    margin: 0;
    font-family: var(--fuente-secundaria);
    text-align: center;

}
h1{
    font-size: 4.2rem;
    font-weight: 300;
    color:var(--blanco);
}

h2{
    font-size: 3.8rem;
    font-weight: 400;
}

h3{
    font-size: 3.2rem;

}

h4{
    font-size: 2.8rem;
}

p{
    line-height: 2;
    margin: 0;
}

span{
    font-weight: 800;
    padding-right: .5rem;
}


/***************************************************** Encabezado */
.site-header{
    background-image:linear-gradient(90deg, rgba(3, 3, 3, 0.223), rgba(3, 3, 3, 0.223)), url('../src/img/banner.jpg');
    height: 45rem;
    background-position: center center;
    background-size: cover;
    color:var(--blanco);
}

.site-header__barra-Superior{
    padding: 1rem;
    text-align: center;
}

.navegacion a{
    display: block;
    text-align: center;
    padding: 1rem 0;
    color:var(--blanco);
}

@media only screen and (min-width:768px){

    .site-header__barra-Superior{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navegacion{
        display: flex;
        align-items: center;
        column-gap: 2rem;
    }
}

.site-header__textoPresetacion{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
}

.site-header__textoPresetacion p{
    font-size: 1.5rem;
    font-family: var(--fuente_principal);
    text-align: center;
}

/***************************************************** blog */

.contenedor__principal{
    height: 100%;
}


.entrada_blog,
.cursos {
    padding:2rem 0;
    margin:2rem 0;
    border-bottom: 1px solid rgba(101, 101, 101, 0.493);
}


@media only screen and (min-width:768px){
    .contenedor__principal{
        display: flex;
        justify-content: space-between;
        gap:2rem;
    }

    .blog{
        flex-basis: 60%;
    }

    .aside__cursos{
        flex-basis: 40%;
    }

    .entrada_blog:last-of-type, .cursos:last-of-type{
        border-bottom: none;
    }
}


.entrada_blog p{
    text-align: justify;
}

.boton{
    display: block;
    text-align: center;
    padding: 1rem 0;
}

.boton__primario{
    background-color: var(--negro);
    color:var(--blanco);
    font-weight: 600;
    font-family: var(--fuente-secundaria);
    transition: all .4s ease-in;
}

.boton__primario:hover{
   background-color: var(--marron);
}

/***************************************************** aside */



ul{
    padding:2rem 0;
}


ul li{
    list-style: none;
    padding: 1rem;
    border-bottom: 1px solid;
}

.boton__secundario{
    background-color: var(--marron);
    color: white;
    transition: all .4s ease-in;
}

.boton__secundario:hover{
    background-color: var(--negro);

}

.cursos p{
    margin:1rem 0;
}



/***************************************************** footer */
.site-footer{
    background-color: var(--negro);
    color:var(--blanco)

}


.site-footer__copy{
    text-align: center;
    margin: 0;
    padding:1rem 0;
}



/***************************************************** nosotros */

.nosotros h3{
    text-transform: capitalize;
}

.nosotros__datos__img{
    margin: 0 auto;
}

.nosotros__datos{
    padding: 4rem 0;
}

@media only screen and (min-width:768px){
    .nosotros__datos{
        display: flex;
        gap: 4rem;
        justify-content: space-between;
        align-items:top;
    }
    .nosotros__datos__img,
    .nosotros__datos__info{
        flex-basis: 50%;
    }
}


/***************************************************** nosotros */

.curso{
    display: ;
}